body{
    background-color: rgb(13, 79, 79);
}

.header{
    background-color: brown;
    display: flex;
    justify-content:space-between ;
    padding: 0.5rem;
    margin: 0.5rem;
    align-items: flex-start;
}
.logo{
    background-color:darkolivegreen ;
}
.nav{
    background-color: darkolivegreen;
}
.nav ul{
    display: flex;
    list-style-type:none ;
    margin: 0;
    padding: 0;
}
.nav ul li{
    padding: 1rem;
    background-color: green;
}
.img{
    background-color: cadetblue;
}
.heading{
    background-color: darkgrey;
}
.para{
    background-color: aqua;
}
.content{
    background-color: black;
    display: flex;
}